# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# local env
.env
.env.*
!.env.example
